.loader {
  animation: rotate 1.5s infinite linear;
  border: 5px dashed blue;
  justify-items: center;
  border-radius: 50%;
  margin-top: 70px;
  height: 100px;
  width: 100px;
  display: flex;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.4);
  }
}
