* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  padding: 0 30px 30px 30px;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  display: flex;
}

.App {
  width: 800px;
}

.post {
  justify-content: space-between;
  background-color: dodgerblue;
  border: 3px solid gold;
  align-items: center;
  margin-top: 15px;
  display: flex;
  padding: 15px;
}

.postTitle {
  margin-bottom: 40px;
  text-align: center;
}

.postBtn {
  display: flex;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transition: all 500ms ease-in;
  transform: translateX(0);
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.pageWrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  border: solid 1px blue;
  cursor: pointer;
  padding: 10px;
}

.pageCurrent {
  border: 2px solid yellow;
  font-weight: bold;
}

.navbar {
  background: dodgerblue;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  display: flex;
  height: 50px;
  width: 100vw;
  right: 0;
  left: 0;
  top: 0;
}

.navbarLinks {
  margin-left: auto;
}

.link {
  text-decoration: none;
  margin-right: 10px;
  padding: 7px;
}

.link:hover {
  color: gold;
}
