* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  justify-content: center;
  display: flex;
  padding: 30px;
}

.App {
  width: 800px;
}

.post {
  justify-content: space-between;
  background-color: dodgerblue;
  border: 3px solid gold;
  align-items: center;
  margin-top: 15px;
  display: flex;
  padding: 15px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transition: all 500ms ease-in;
  transform: translateX(0);
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.pageWrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  border: solid 1px blue;
  cursor: pointer;
  padding: 10px;
}

.pageCurrent {
  border: 2px solid yellow;
  font-weight: bold;
}
